<%- include("header") %>
    <main class="main">
        <form class="url-form" method="post" action="/generate-url">
            <input type="url" name="url" placeholder="Enter your long URL here" required>
            <button type="submit">Shorten URL</button>
        </form>
    </main>

<%- include("footer") %>